@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,400,400i,700,800&display=swap');

html, body {
    background-color: white;
}

/* Reset Font from default styling */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 700;
}

a {
    color: darkslategray;
    cursor: pointer;
}